.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 50%;
}

.search-container {
    display: flex;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #007bff; /* Adjust the spinner color */
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;  
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}